<footer class="footer bg-white">
    <div class="container text-center">
        <span class="text-muted"><b>Spill-Coffee-On-The-Keyboard</b> - учебный проект для домашнего задания по курсу Symfony</span>
    </div>
</footer>