<div class="quotes-container bg-white shadow-sm border border-top-0 pb-2 pt-2 px-5">
        {% for comment in comments %}
            <div class="border-bottom mb-3">
                <div class="h4 text-left"> <a href="#">Когда пролил кофе на клавиатуру {{ comment.article.title }}</a></div>
                <p><i class="far fa-comment text-secondary"></i> {{ comment.content }}
                    <br> — <a href="#">{{ comment.authorName }}</a></p>
            </div>
        {% endfor %}
    </div>
</div>
