{% extends 'base_content.html.twig' %}
{% block header %}
    {{ parent() }}
    <title>{% block title %} Редактирование статьи {% endblock %}</title>
{% endblock %}
        {% block content %}
            <h1>Редактирование статьи</h1>

            <div class="container">
                {%  if showError %}
                <div class="row">

                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">
                            Не удалось изменить статью
                        </div>
                    </div>
                    {% endif %}

                    <div class="col-12">

                        <div class="border flex-md-row mb-4 shadow-sm bg-white p-4">
                      {% include 'admin/article/form.html.twig' with {button_text: 'Редактировать'} %}
                        </div>

                    </div>

                </div>
            </div>

        {% endblock %}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
    {% endblock %}